@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: ltr; 
}

html {
    font-size: 18px;
    line-height: 1.5;
}

body{
    background-color: black;
    margin: 0;    
}
header {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: -1;

}

header::before {
    content: "";
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;   
}

.container {
  text-align: center;
  color: white;
  position: relative;
}
.containerimg{
    width: 100%;
    border-image-width: 100%;
    position: fixed;
    background-position: top;
    bottom: 10px;
    right:0px;
    top: -0.1px;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  padding-top: 25rem;
  font-family: Roboto Mono ;
  font-weight: 300;
}
@media only screen and (width: 100%) {
  body{
    font-size: 10px;
  }
  header{
        
    }
  nav{
      
    }
}



#ham {
    position: absolute;
    width: 60px;
    height: 45px;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    
}

#ham>span {
    display: block;
    width: 100%;
    height: 9px;
    background-color: #fff;
    position: absolute;
    border-radius: 9px;
    transition: 0.3 ease-out ;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#ham>span:nth-child(1) {
    top: 0;
}

#ham>span:nth-child(2),
#ham>span:nth-child(3) {
    top: 18px;
}

#ham>span:nth-child(4) {
    top: 36px;
}

#ham.open>span:nth-child(1),
#ham.open>span:nth-child(4) {
    top: 18px;
    opacity: 0;
}

#ham.open>span:nth-child(2) {
    transform: rotate(45deg);
}

#ham.open>span:nth-child(3) {
    transform: rotate(-45deg);
}



nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    transition:0.3 ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    font-family: Roboto Mono;
    overflow-y: scroll;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.visible {
    opacity: 1;
    visibility: visible;
}
.hidden{
    opacity:0;
    visibility: hidden;
}
#nav>ul {
    padding-top: 4rem;
    background-repeat: no-repeat;
    background-position: center top;
}

#nav a2 {
    color: #bbb;
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.2rem;
    transition: 0.3s ease-out;
}

#nav a2:hover {
    transform: scale(1.2);
    color:white;
}
.stickywrapper{
    top: 0px;
    position: sticky;
    width: 100%;
}
#intro {
    font-family: Roboto Mono;
    font-style: color: white;
    background-color: #060606;
    width: 100%;
}

.introtext{
    font-family: Roboto Mono;
    color: #d4d3d3;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.introtext1{
    font-family: Roboto Mono;
    color: #d4d3d3;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.introtext2{
    font-family: Roboto Mono;
    color: #d4d3d3;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.intro{
    background-color: black;
    width: 100%;
}
.backcol{
    background-color: #060606;
    
}
h2{
    display: center;
    font-family: Roboto Mono;
    font-weight: 200;
    color: white;
    padding-top: 30px;
}


}
h3{
    display: center;
    font-family: Roboto Mono;
    font-weight: 200;
    color: white;
}
#cds{
    font-size: 25px;
    background-color: #060606;
}

* {box-sizing:border-box}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease-out;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.collapsible {
  background-color: #060606;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: center;
  transition: 0.3s ease-out;
  outline: none;
  font-size: 20px;
  font-family: Roboto Mono;
  
}

.active, .collapsible:hover {
  background-color: #2B2B2B;
  transform: scale(1.2)
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #060606;
  color: #d4d3d3;
  font-family: Roboto Mono;
  font-size: 15px;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}
h4{
    display: center;
    font-family: Roboto Mono;
    font-weight: 200;
    color: white;
    font-size: 30px;
    padding-top: 30px;
}
h5{
   font-size: 18px; 
   color:white;
}
h6{
   font-size: 18px; 
    color:white;
}
h7{
   font-size: 18px; 
    color:white;
}
h8{
   font-size: 18px;
    color:white;
}
h9{
   font-size: 18px;
    color:white;
}
h10{
   font-size: 18px; 
    color:white;
}
h11{
   font-size: 18px; 
    color:white;
}
h12{
   font-size: 18px; 
    color:white;
}
h13{
   font-size: 18px; 
    color:white;
}
h14{
   font-size: 18px; 
   color:white;
   font-style:Roboto Mono;
}
h15{
   font-size: 30px; 
   color:white;
   font-family: Roboto Mono;
   font-weight: 200;
   padding-top: 30px;
}
#discography{
    font-style: Roboto Mono;
    color: white;
    background-color: #060606;
}
.songs1{
    text-align: left;
    margin-right: 50%;
    font-family: Roboto Mono;
    font-style: color: #d4d3d3;
    background-color: #060606;
    font-size: 18px;
}
.row {
  display: flex;
}


.column {
  flex: 50%;
  padding: 10px;
  background-color: #060606;
  color:white;
  font-family: Roboto Mono;
}
.collapsible1 {
  background-color:transparent;
  color: white;
  cursor: pointer;
  padding: 1.1em;
  width: 9%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition:0.3 ease-in-out;
}


.active, .collapsible1:hover {
  background-color: #181818;

}

.content1 {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #1E1E1E;
  color:white;
  font-size: 12px; 
  font-style: Roboto Mono;
}
a{
    color: white;
    padding:  0.9em;
    text-decoration: none;
    text-transform: uppercase;
    font-style: Roboto Mono;
    font-size: 16px;
    width: 10%;
    height:10px;
}
a:hover{
    background-color: #181818;
    transition: 0.2s;
}
colapsible1:hover{
    background-color: #181818;
}
#colapsibleright{
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #060606;
  color:white;
  font-size: 12px; 
  font-style: Roboto Mono;
  text-align: right;
  position: right;
}
h16{
    background-color: #060606;
    font-style: Roboto Mono;
    color:white;
    font-weight: 200;
    font-size:30px;
    font-family: Roboto Mono;
}

.a3{
    padding-left: 620px;
    text-align: right;
    transition: 0.3 ease-out;
}
.a3:hover{
    background-color: transparent;
    transform: scale(1.2);
}
p48, p49, p50, p51{
    font-size: 15px;
    font-size: 15px;
}
h20{
    padding-top: 10px;
    color: white;
    font-family: Roboto Mono;
    font-size: 30px;
    font-weight: 200;
    
}
footer{
    background-color: black;
    padding: 10px 10px;
    
}
.baklamic{
    width:700px;
    height: 600px;
}